<footer>
    <div class="container">
        <div class="row">
          <div class="col">
              <p>About us</p>
              <h2>This is prakash I Am Studying Electrical Engineering But I like Coding My Hobby Is Creating And Designing and I Design Websites
                I Am Interesting in Front End Development</h2>
                <h2 style="margin-top: 4ex;">Copyright ©2021 All rights reserved | This template is made with by <span style="color: rgb(255, 145, 0);">prakash</span></h2>
                <a href="mailto:prakashdk032@gmail.com"><button button type="button" class="btn btn-outline-warning" style="margin-bottom: 2ex;">Hire me</button></a>
          </div>
          <div class="col">
              <h3 style="color: darkorange;">Follow Us</h3>
              <h1>Let us be social</h1>
              <img src="assets/img/iin.png" alt="linked in">
              <img src="assets/img/igit.png" alt="github" style="padding-left: 2ex;">
          </div>
        </div>
      </div>
</footer>

