<div class="profile" id="home">
  <h3> Hi, I Am <span>Prakash</span> And Front End Developer</h3>
  <h4>WEB</h4>
  <h4>DESIGNER</h4>
</div>
<div class="about" id="about">
  <h3 style="color: black; font-weight: bold; margin-bottom: 2ex;"><span style="color: rgb(252, 144, 2);">ABOUT</span> ME</h3>
  <p>This is prakash I Am Studying Electrical Engineering But I like Coding My Hobby Is Creating And Designing and I Design Websites
    I Am Interesting in Front End Development
  </p>
</div>
<app-profile></app-profile>
    