<div class="project" id="projects">
  <div class="proj">
  <h4>MY <span>PROJECTS</span></h4>
  </div>
    <div class="container">
        <div class="row">
          <div class="col">
            <div class="col">
                <div class="card" style="width: 18rem; width:100%;">
                    <img class="card-img-top" src="assets/img/crud.jpeg" alt="Card image cap">
                    <div class="card-body">
                      <h5 class="card-title">REST API</h5>
                      <p class="card-text">This project about CRUD operation detail view in get, put, post, delete</p>
                    </div>
                  </div>
            </div>
          </div>
          <div class="col">
            <div class="col">
                <div class="card" style="width: 18rem; width:100%;">
                    <img class="card-img-top" src="assets/img/news.png" alt="Card image cap">
                    <div class="card-body">
                      <h5 class="card-title">NEWS APP</h5>
                      <p class="card-text">This project about news reading app, in this app i am using news api</p>
                    </div>
                  </div>
              </div>
          </div>
        </div>
      </div>
      <div class="container">
        <div class="row">
          <div class="col">
            <div class="col">
                <div class="card" style="width: 18rem; width:100%;">
                    <img class="card-img-top" src="assets/img/ec.png" alt="Card image cap">
                    <div class="card-body">
                      <h5 class="card-title">ECOMMERS APP</h5>
                      <p class="card-text">This project about Ecommerce purchasing app with using api calling</p>
                    </div>
                  </div>
            </div>
          </div>
          <div class="col">
            <div class="col">
                <div class="card" style="width: 18rem; width:100%;">
                    <img class="card-img-top" src="assets/img/calc.png" alt="Card image cap">
                    <div class="card-body">
                      <h5 class="card-title">CALCULATOR APP</h5>
                      <p class="card-text">This project about simple calculator web app.</p>
                    </div>
                  </div>
              </div>
          </div>
        </div>
      </div>
</div>
<app-contact></app-contact>