<div class="contact" id="contact">
    <h4>CONTACT <span>ME</span></h4>
    <div class="container">
        <div class="row">
            <div class="col">
                <a href="tel:9500341417"><img src="assets/img/contact.png" alt="contact"></a>
                <h5>Phone</h5>
                <h6 style="color: rgb(23, 5, 73); margin-bottom: 3ex;">+91 9500341417</h6>
            </div>
            <div class="col">
                <a href="mailto:prakashdk032@gmail.com"><img src="assets/img/email.png" alt="email"></a>
                <h5>Email</h5>
                <h6 style="color: rgb(23, 5, 73);margin-bottom: 3ex;">prakashdk032@gmail.com</h6>
            </div>
            <div class="col">
                <a href="https://www.google.com/maps/place/Ellaithottam+Road,+Coimbatore,+Tamil+Nadu+641004/@11.0301813,77.0063319,20.47z/data=!4m5!3m4!1s0x3ba8582684c7092f:0x8224dc88f411ee0!8m2!3d11.030207!4d77.0064586"><img src="assets/img/location.png" alt="location"></a>
                <h5>Location</h5>
                <h6 style="color: rgb(23, 5, 73);">peelamedu, coimbatore 641014</h6>
            </div>
        </div>
    </div>
</div>
<app-footer></app-footer>

