<h3>MY <span>SKILLS</span></h3>
<div class="skills" id="skills">
  <div class="row">
    <div class="col">
      <div class="card text-white bg-dark mb-3" style="max-width: 13rem;">
        <div class="card-header" style="color: red;">JAVA</div>
        <div class="card-body">
          <p class="card-text"> programing language</p>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card text-white bg-dark mb-3" style="max-width: 13rem;">
      <div class="card-header" style="color: orange;">JAVASCRIPT</div>
      <div class="card-body">
        <p class="card-text">For web developing</p>
      </div>
    </div>
  </div>
    <div class="col">
      <div class="card text-white bg-dark mb-3" style="max-width: 13rem;">
        <div class="card-header" style="color: crimson;">HTML 5</div>
        <div class="card-body">
          <p class="card-text">For web creating</p>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card text-white bg-dark mb-3" style="max-width: 13rem;">
        <div class="card-header" style="color: rgb(109, 109, 255);">CSS 3</div>
        <div class="card-body">
          <p class="card-text">For web designing</p>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <div class="card text-white bg-dark mb-3" style="max-width: 13rem;">
        <div class="card-header" style="color: rgb(255, 2, 158);">SCSS</div>
        <div class="card-body">
          <p class="card-text">For quick designing</p>
        </div>
      </div>
    </div>
    <div class="col"><div class="card text-white bg-dark mb-3" style="max-width: 13rem;">
      <div class="card-header" style="color: red;">ANGULAR</div>
      <div class="card-body">
        <p class="card-text">Javascript frame work</p>
      </div>
    </div></div>
    <div class="col">
      <div class="card text-white bg-dark mb-3" style="max-width: 13rem;">
        <div class="card-header" style="color: rgb(14, 218, 14);">NODE.JS</div>
        <div class="card-body">
          <p class="card-text">Creating api's</p>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card text-white bg-dark mb-3" style="max-width: 13rem;">
        <div class="card-header" style="color: antiquewhite;">EXPRESS.JS</div>
        <div class="card-body">
          <p class="card-text">Creating server</p>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <div class="card text-white bg-dark mb-3" style="max-width: 13rem;">
        <div class="card-header" style="color:rgb(9, 175, 9);">MONGO.DB</div>
        <div class="card-body">
          <p class="card-text">For databases</p>
        </div>
      </div>
    </div>
    <div class="col"><div class="card text-white bg-dark mb-3" style="max-width: 13rem;">
      <div class="card-header" style="color: orange;">FIREBASE</div>
      <div class="card-body">
        <p class="card-text">For backend</p>
      </div>
    </div></div>
    <div class="col">
      <div class="card text-white bg-dark mb-3" style="max-width: 13rem;">
        <div class="card-header">noSQL</div>
        <div class="card-body">
          <p class="card-text">Handling databases</p>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card text-white bg-dark mb-3" style="max-width: 13rem;">
        <div class="card-header" style="color: blueviolet;">BOOTSTRAP</div>
        <div class="card-body">
          <p class="card-text">For styling</p>
        </div>
      </div>
    </div>
  </div>
</div>
<app-projects></app-projects>
