<h3 style="color: rgb(252, 144, 2); font-weight: bold; margin-bottom: 2ex;"><span style="color: rgb(0, 0, 0);">MY</span> PROFILE</h3>
<div class="cord" id="profile">
    <div class="card-columns">
      <div class="card">
        <img class="card-img-top" src="assets/img/in.png" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title" style="color: blue;">linked in</h5>
          <p class="card-text">this is my linked in profile you can able to see my profile and my activity's</p>
          <a href="https://www.linkedin.com/in/prakash-g-0327671a4"><button type="button" class="btn btn-outline-primary"  style="width: 15ex; margin-bottom: 2ex;">in</button></a>
        </div>
      </div>
      <div class="card p-3" style="background-color: rgb(255, 255, 255);">
        <blockquote class="blockquote mb-0 card-body">
          <p style="color: rgb(83, 17, 74);">Strong in design and problem solving skills, strong in front end
            development passionate about creating
            and implementing and lunching new projects
          </p>
          <footer class="blockquote-footer">
          </footer>
        </blockquote>
      </div>
      <div class="card">
        <img class="card-img-top" src="assets/img/git.png" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">github</h5>
          <p class="card-text">This is my github profile you can able to see my projects</p>
          <a href="https://github.com/prakash-maker" class="btn btn-outline-dark" style="width: 14ex; margin: auto;">GitHub</a>
        </div>
      </div>
      <div class="card bg-dark text-white text-center p-3">
        <blockquote class="blockquote mb-0">
          <p>My Resume</p>
          <a href="assets/files/prakash G (5).pdf"><h4>Download</h4></a>
        </blockquote>
      </div>
      <div style="background-color: rgb(255, 255, 255);" class="card text-center">
        <div class="card-body">
          <h5 class="card-title" style="color: rgb(252, 144, 2);">SCHOOL</h5>
          <p style="color: rgb(88, 12, 12);">Saravajana .Hr .Sec .School
            10th - 2018            
            </p>
        </div>
      </div>
      <div class="card">
        <img class="card-img" src="assets/img/myimg.jpeg" alt="Card image">
      </div>
      <div class="card p-3 text-right">
        <blockquote class="blockquote mb-0">
          <h5 class="card-title" style="color: rgb(252, 144, 2); text-align: center;">COLLEGE</h5>
          <p style="color: rgb(107, 11, 56);">-Diploma EEE
            Suguna Polytechnic College, Coimbatore, Tamil Nadu
            2018 - 2021
            </p>
        </blockquote>
      </div>
    </div>
    </div>
   <app-skills></app-skills>